body {background-color: rgb(185, 179, 94);}

#container {background-color: antiquewhite;
width: 65%;
margin: 20px auto;
border: 2px double rgba(0, 0, 0, 0.164);
padding: 20px;
}

#banner {
    width: 100%;
}
.heading_style {
    text-shadow: 2px 2px 2px rgba(223, 148, 37, 0.685);
}


#col1{
    width: 50%;
    border: 2px solid goldenrod;
    margin: 10px;
    padding: 20px;
}

#col2{
    width: 50%;
    border: 2px solid goldenrod;
    margin: 10px;
    padding: 20px;
}

#col3{
    width: 80;
    border: 2px solid goldenrod;
    margin: 10px;
    padding: 20px;
    columns: 50%;
}
.scene_reduce {
    width: 80%;
    height: 40%;
}

.scene_reduce_more {
    width: 40%;
    height: 30%;
    padding: 5;
}
.scene_adjust {
    width: 80%;
    height: 40%;
    padding: 5;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

nav {
    text-align: center;
    margin: 20px 0;
    background-color: rgb(185, 179, 94);
    padding: 5px;
    border-radius: 10px;

}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: rgb(252, 249, 246);
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px;
    width: 125px;
    height: 40px;
    line-height: 40px;


}
nav a:hover {
    background-color: rgb(219, 243, 179);
    color: black;
}

main {
    display: flex;
}

h1,
h2,
footer {
    text-align: center;
}



